/* body {
    font-family: system-ui;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.global-btn {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 50px;
    color: #ffffff;
    padding: 6px 15px;
}
.global-btn:hover {
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 30px;
    border-bottom: 1px solid #000000;
}
.mainLogo {
    width: 100%;
    max-width: 80px;
    height: auto;
}
.navContainer a {
    color: #000000;
}
.cartContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.userIcon, .cartIcon {
    width: 100%;
    max-width: 25px;
    height: auto;
}
.navContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navContainer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 20px;
    list-style-type: none;
}
.login-logout-btn {
    width: 80px;
}
.bodyContainer {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.mainContainer {
    height: 100vh;
}
.search-Box {
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    max-width: 580px;
    align-self: center;
}
.search-btn {
    background-color: #ffffff;
    border: 0px;
}
.search-icon {
    max-width: 15px;
}
.search-input {
    border-radius: 50px;
    border: 0px;
    padding: 15px 10px;
    width: 100%;
    max-width: 500px;
}
.search-input:focus-visible {
    outline: none;
}
.restaurantContainer, .shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}
.shimmer-card {
    width: 280px;
    height: 300px;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
}
.shimmer-image-box {
    background-color: #e8e8e8;
    width: 280px;
    height: 215px;
    border: 1px solid #e8e8e8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.res-card {
    width: 100%;
    max-width: 280px;
    border: 1px solid #00000026;
    border-radius: 20px;
    box-shadow: #00000026 0px 2px 8px;
}
.res-image-box {
    display: flex;
}
.res-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.res-details {
    padding: 20px 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.res-details-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating-icon {
    background-color: #e8e8e8;
    border-radius: 50px;
    padding: 5px 6px;
}
.rating-icon p {
    font-size: 14px;
}
.filtersContainer {
    display: flex;
    justify-content: end;
    gap: 10px;
}
.footer-container ul {
    padding: 0px;
    margin: 0px;
}
.footer-title, .footer-container p {
    color: #ffffff;
}
.footer-inner-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    background-color: #1a1a19
}
#company-information-section {
    flex: 1;
    min-width: 300px;
}
.footer-inner-row .footer-div {
    flex: 1;
    min-width: 175px;
}
.footer-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-middle {
    background-color: #1a1a19;
    display: flex;
    justify-content: center;
}
.footer-inner-row {
    width: 100%;
    max-width: 1500px;
}
.footer-container ul li {
    list-style-type: none;
}
.footer-container ul li a {
    color: #ffffff;
}
.footer-bottom {
    background-color: #262626;
    display: flex;
    justify-content: center;
}
.footer-bottom .footer-inner-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #262626;
}
.copyright-section p, .payment-section p {
    font-size: 13px;
}
.payment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    height: 100vh;
}
.errorContainer h2 {
    font-size: 50px;
} */